<div class="row row-cols-1 row-cols-md-2 row-cols-xxl-4">
  {% for conf in site.confs %}
  <div class="my-2 col">
    <div class="card shadow">
      <div class="card-header">📢 {{ conf.name }}</div>
      <a href="{{ conf.url }}" class="muted">
        <img width="100%" style="aspect-ratio: 16/9" src="{{ site.baseurl }}/{{ conf.image }}" alt="{{ conf.name }}" />
      </a>
      <div class="card-body">
        <a href="{{ conf.url }}" class="muted">
          {% if conf.date %}
          <h5 class="card-title">
            {{ conf.date | date: "%d %B %Y" }}
            {% if conf.end %}
              - {{ conf.end | date: "%d %B %Y" }}
            {% endif %}
          </h5>
          {% endif %}
        </a>
        <div class="d-flex align-items-left">
          {% for social in conf.social %}
          <a href="{{ social.url }}" title="{{ social.title }}" class="mx-1 link-secondary"><i class="bi {{ social.icon }}"></i></a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
