<div class="row row-cols-1 row-cols-md-2 row-cols-xxl-4">
  {% for conf in site.data.confs %}
  <div class="my-2 col">
    <div class="card shadow">
      <div class="card-header">📢 {{ conf.name }}</div>
      <a href="{{ conf.url }}" class="muted">
        <img width="100%" style="aspect-ratio: 16/9" src="{{ site.baseurl }}/{{ conf.image }}" alt="{{ conf.name }}" />
      </a>
      <div class="card-body">
        <a href="{{ conf.url }}" class="muted">
          <h5 class="card-title">
            {{ conf.date | date: "%d %B %Y" }}
            {% if conf.end %}
              - {{ conf.end | date: "%d %B %Y" }}
            {% endif %}
          </h5>
        </a>
        <div class="d-flex align-items-left">
          {% for social in conf.social %}
            {% if social.name == "globe" %}
            <a href="{{ social.url }}" title="{{ social.title }}" class="mx-1 link-secondary"><i class="bi bi-globe"></i></a>
            {% elsif social.name == "linkedin" %}
            <a href="{{ social.url }}" title="{{ social.title }}" class="mx-1 link-secondary"><i class="bi bi-linkedin"></i></a>
            {% elsif social.name == "mastodon" %}
            <a href="{{ social.url }}" title="{{ social.title }}" class="mx-1 link-secondary"><i class="bi bi-mastodon"></i></a>
            {% elsif social.name == "bluesky" %}
            <a href="{{ social.url }}" title="{{ social.title }}" class="mx-1 link-secondary"><i class="bi bi-bluesky"></i></a>
            {% elsif social.name == "x" %}
            <a href="{{ social.url }}" title="{{ social.title }}" class="mx-1 link-secondary"><i class="bi bi-twitter-x"></i></a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
