{%- assign now_time = site.time | date: "%s" | plus: 0 -%}
{%- assign group_events = site.events | where: "groupId", include.group_slug -%}
{%- assign future_events = "" | split: "" -%}
{%- for event in group_events -%}
  {%- assign event_time = event.dateIso | date: "%s" | plus: 0 -%}
  {%- if event_time >= now_time -%}
    {%- assign future_events = future_events | push: event -%}
  {%- endif -%}
{%- endfor -%}

{%- if future_events.size > 0 -%}
<section class="mt-5">
  <h2 class="fw-light mb-3">Prochains évènements</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-3">
  {%- for event in future_events -%}
    {%- assign date_part = event.dateIso | date: "%Y-%m-%d" -%}
    {%- capture image_path %}event-imgs/{{ date_part }}-{{ event.groupId }}-{{ event.eventId }}.webp{% endcapture -%}
    <div class="col">
      <div class="card shadow h-100">
        <a href="{{ event.link }}" target="_blank" rel="noopener noreferrer">
          <img width="100%" style="aspect-ratio: 16/9; object-fit: cover;" src="{{ site.baseurl }}/{{ image_path }}"
            {%- if event.img and event.img != "" %} onerror="this.onerror=null; this.src='{{ event.img }}';"{% endif -%} />
          <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted place">
                {%- if event.place != null and event.place != "" -%}
                🏠 {{ event.place }}<br>📍 {{ event.placeAddr }}
                {%- else -%}
                🌍 en ligne
                {%- endif -%}
              </small>
              <small class="text-muted text-end time">{{ event.dateFr }}📅<br>{{ event.timeFr }}⌚</small>
            </div>
          </div>
        </a>
      </div>
    </div>
  {%- endfor -%}
  </div>
</section>
{%- endif -%}
